<head>
  <title>library-system</title>
  <style type="text/css">
    table,th,td{
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Welcome to Library System!</h1>
  <div>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Published</th>
      </tr>

        {{#each books}}
          {{> book}}
        {{/each}}
      
    </table>
  </div>

  <form>
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="publishDate" placeholder="Date Published">
    <button type="submit" name="">Submit</button>
  </form>
</body>

<template name="book">
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>{{publishDate}}</td>
  </tr>
</template>

